/*
 - ___  __   ___  ___  __   ___  ___       __
 -|__  |__) |__  |__  / _` |__  |__  |__/ /__`
 -|    |  \ |___ |___ \__> |___ |___ |  \ .__/
 -
 -_2013
 -_Styles v1.0
 -*/

@import "reset.css";

/* BASE */

html {
    font-size: 100%;
    background-color: #2C3E50;
}

body {
    margin: auto;
    padding: 10px;
}

p, h1, h2, li, legend, label {
    font-family: 'Arvo', serif;
    color: #ECF0F1;
    font-weight: normal;
    font-size: 1rem;
}
h1 {
    letter-spacing: 2px;
    font-size: 1.2rem;
}

h2 {
    font-size: 1.5rem;
    line-height: 2rem;
}

p {
    line-height: 1.5rem;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

ul {
    margin: 20px;
}

li {
    margin: 20px 0;
    list-style: none;
}

section {
    overflow: hidden;
    margin-top: 140px;
    display: block;
}

section article h1 {
    text-align: center;
    margin: 20px 0;
}

/* HEADER */

body > header {
    text-align: center;
    display: block;
    position: relative;
    animation-duration: 1s;
    animation-name: anim-header;
    -webkit-animation-duration: .8s;
    -webkit-animation-name: anim-header;
}
body > header h1 {
    background: url('../img/freegeeks-logo.svg') no-repeat top center;
    background-size: 100%;
    padding: 130px 0 30px 0;
    margin: 10px auto 0 auto;
    position: relative;
    animation-duration: 2s;
    animation-name: anim-logo;
    -webkit-animation-duration: .8s;
    -webkit-animation-name: anim-logo;
    width: 135px;
    font-size: 1.4rem;
}

body > header h2 {
    padding-bottom: 30px;
}

body > header:after {
    position: absolute;
    content: "";
    background: #ECF0F1;
    width: 20px;
    height: 40px;
    left: 50%;
    bottom: -60px;
    margin-left: 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

body > header:before {
    position: absolute;
    content: "";
    background: #ECF0F1;
    width: 20px;
    height: 40px;
    left: 50%;
    bottom: -60px;
    margin-left: -15px;
    transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
}

/* TEAM */
#team h1 {
    text-align: center;
    margin: 0 !important;
}

#team article h1:before {
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: block;
    position: absolute;
    background-size: 100% 100%;
    left: 0;
    top: 0;
    float: left;
    border: 2px #fff solid;
    box-shadow: inset 0px 1px 4px #000;
}

#team article h1, #team article p {
    text-align: left;
    padding-left: 70px;
    position: relative;
}
#team article h2 {
	font-size: .7rem;
	padding-left: 70px;
	position: relative;
	font-style: italic;
}
#team article p {
	font-size: 1rem;
}
#team header h1{
	font-size: 2rem;
	padding:0 0 20px 70px;
	text-align: left;
	
}
#rlc h1:before {
    background: url('../img/renato.jpg') no-repeat;
}

#rgc h1:before {
    background: url('../img/renan.jpg') no-repeat;
}

#rpc h1:before {
    background: url('../img/renasboy.jpg') no-repeat;
}
/* TEAM */


/* FORM / CONTACT */
#participate h1 {
    text-align: center;
    margin: 20px 0;
}


#participate textarea {
    width: 94%;
    padding: 2%;
    border-radius: 10px;
    color: #3d96e1;
    font-family: "Roboto Slab", Helvetica, Sans-Serif;
    font-size: 1rem;
    border: 3px #317ebe solid;
    margin: 30px 0;
}

button {
    width: 100%;
    max-width: 320px;
    float: right;
    border: 2px solid #bc3b24;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 3px 5px #352929;
    color: #ecf0f1;
    font-size: 1.4em;
    letter-spacing: 0.15em;
    padding: 6px 20px;
    text-shadow: 0 2px 2px #7D0446;

    background: #e38000;
    background: -moz-linear-gradient(top,  #e38000 0%, #cf5600 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e38000), color-stop(100%,#cf5600));
    background: -webkit-linear-gradient(top,  #e38000 0%,#cf5600 100%);
    background: -o-linear-gradient(top,  #e38000 0%,#cf5600 100%);
    background: -ms-linear-gradient(top,  #e38000 0%,#cf5600 100%);
    background: linear-gradient(to bottom,  #e38000 0%,#cf5600 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e38000', endColorstr='#cf5600',GradientType=0 ); 
}
		
button:active{
    box-shadow: inset 0 1px 2px black, 0 1px 5px #352929;
	margin-top: 2px;
}


/* M E D I A   Q U E R I E S */

/* WIDTH = body.width - body.padding (20px) */
@media only screen and (min-width: 320px) {
    body {
        width: 90%;
        padding: 5%;
    }
}
@media only screen and (min-width: 640px) {
    body {
        width: 620px;
    }
}
@media only screen and (min-width: 960px) {
    body {
        width: 940px;
    }
    #team article{
    	width: 260px;
    	float: left;
    	margin:0  26px;
    }
    #team article:first-child{
    	margin-left: 0;
    }
}





/* keyframes */
@keyframes anim-logo {
  0% {
      top: -200px;
  }

 60% {
      top: -180px;
      opacity: 0;
  }

  100% {
      top: 0px;
      opacity: 1;
  }
}

@keyframes anim-header {
  0% {
      top: -500px;
  }

  100% {
      top: 0px;
  }
}

@-webkit-keyframes anim-logo {
  0% {
      top: -200px;
  }

 60% {
      top: -180px;
      opacity: 0;
  }

  100% {
      top: 0px;
      opacity: 1;
  }
}

@-webkit-keyframes anim-header {
  0% {
      top: -500px;
  }

  100% {
      top: 0px;
  }
}
